#map_container {
    position: absolute;
    top: 56px;
    bottom: 0px;
    width: 100%;
}

#map {
    height: 100%;
}

#popup_hider {
    display: none;
}

$link-color: hsla(0,0%,100%,.5);
$link-hover-color: hsla(0,0%,100%,.75);


// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/close";

/** TODO: only import specific bootstrap modules */
@import '~bootstrap/scss/bootstrap';
